
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-wrap: wrap; /* Allow pagination to wrap on smaller screens */
        gap: 8px;
        animation: fadeIn 0.5s ease-in-out;
      }

      .page-button {
        background-color: transparent;
        border: 2px solid #007bff;
        border-radius: 50px;
        color: #007bff;
        cursor: pointer;
        padding: 10px 16px;
        font-weight: bold;
        font-size: 14px;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .page-button:hover {
        background-color: #007bff;
        color: white;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
      }

      .page-button.active {
        background-color: #00bfff;
        color: white;
        box-shadow: 0 0 12px rgba(0, 191, 255, 0.7);
      }

      .page-button:focus {
        outline: none;
      }

      .page-button:active {
        transform: scale(0.98);
      }

    .fade-in {
      animation: fadeInPost 0.5s ease forwards;
    }

    @keyframes fadeInPost {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
